//variables for text and fonst
$main-hue: 208;
$mainColor: hsl($main-hue, 92%, 54%);
$mainColorHover: hsl($main-hue, 77%, 48%);
$lightMainColor: hsl($main-hue, 91%, 55%);
$textColor: #000;
$navColor: hsl($main-hue, 17%, 79%);
$bgColor: #fff;
$lightTextColor: #9ca7b6;
$inoutbg: hsla($main-hue, 50%, 50%, 6.5%);
$inoutbgHover: hsla($main-hue, 50%, 50%, 14%);
$inputText: #8c9aaf;
