.popup {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.popupActive {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.548);
  z-index: 9999;
  opacity: 1;
  visibility: visible;
}

.popupActive .content {
  width: 75%;
  /* height: 50rem; */
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.popupActive .content.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #646cff, #c1c4ff);
  overflow: hidden;
}

.popupClose {
  color: tomato;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #282b66;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      hsla(237, 100%, 70%, 0.506),
      rgba(194, 197, 255, 0.575)
    ),
    url('../assets/img/trafic-1.jpg');
  background-size: cover;
  background-position: center;
}

.ctaForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.ctaForm label {
  display: block;
  font-size: 1.6rem;
  font-family: 500;
  margin-bottom: 1.2rem;
}
.ctaForm input,
.ctaForm select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #f0e9fd;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.ctaForm input::placeholder {
  color: #aaaa;
}

.ctaForm button {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;

  transition: all 0.3s;
  background-color: #282b66;
  color: #f0e9fd;
  align-self: end;
}

.ctaForm button:hover {
  background-color: #fff;
  color: #555;
}
